<link
  href="https://fonts.googleapis.com/css2?family=Material+Icons"
  rel="stylesheet"
/>

<span (click)="voltar()" class="material-icons">reply</span>

<main class="main">
  <div class="duvida">
    <span>Sobre o que é a sua dúvida?</span>
  </div>
  <div class="container">
    <div class="home" (click)="voltar()">
      <span class="fi fi-rr-home"></span>
    </div>
    <div class="user" (click)="login()">
      <span class="fi fi-rr-user"></span>
    </div>
    <div class="carrinho">
      <span class="fi fi-rr-shopping-cart"> </span>
    </div>
   <div class="car">
    <span class="fi fi-rr-car"></span>
   </div>
    <div class="logout">
      <span class="material-icons">logout</span>
    </div>
    <div class="conta">
      <span class="material-icons">account_circle</span>
    </div>
  </div>
</main>