<header>
  <div class="navbar">
    <div class="logo">
        <img src="./assets/logo.png" style="width: 100px" />
    </div>

    <div class="campo-pesquisa">
        <i class="fi fi-rr-search"></i>

        <input type="text" placeholder="Pesquisar" />
    </div>

    <div>
      <button class="button" (click)="voltar()">Voltar</button>
    </div>
</div>
</header>


<main class="main">
  <div class="container">
    <div class="cadastro">
      <button (click)="cadastrar()">Cadastro</button> 
      <div>
      <button (click)="comprar()">Comprar</button> 
      </div>
    </div>
    
    <div class="pagamento">
      <button (click)="pagamento()">Pagamento</button> 
      <div>
        <button (click)="parceria()">Parcerias</button> 
      </div>
    </div>
  </div>
</main>
