<header>
  <div class="marcas">
    <h1>MARCAS</h1>
    <div class="botao">
      <button class="button" (click)="voltar()">Voltar</button>
    </div>
  </div>
    
</header>

<main class="main">
  <div class="img"> <img src="../../assets/marcas.png" width="800px"></div>
  <div class="linha"></div>
  <div class="empresa">QUEM SOMOS?</div>
  <div class="text">
      A nossa empresa de Automóveis é
      especializada em vendas de veículos semi-novos nacionais e importados.
      Todos os veículos à venda em nossa loja são revisados, com garantia e selo de procedência comprovada MundoCar Mais
      Shopping.
      Trabalhamos em parceria com as principais financeiras do país e financiamos com as melhores taxas de juros do
      mercado,
      visando sempre a satisfação e o melhor negócio para nossos clientes.
  </div>
</main>

<footer class="footer">
  <div class="redes">REDES SOCIAIS</div>
  <div class="icons">
    <span class="facebook"><img src="https://img.icons8.com/color/48/000000/facebook.png"/></span>
    <span class="twitter"><img src="https://img.icons8.com/color/48/000000/twitter--v1.png"/></span>
    <span class="youtube"><img src="https://img.icons8.com/color/48/000000/youtube-play.png"/></span>
    <span class="instagram"><img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"/></span>
    <span class="tiktok"><img src="https://img.icons8.com/color/48/000000/tiktok--v1.png"/></span>
  </div>
</footer>