<header>
  <div class="botao">
    <button class="button" (click)="voltar()">Voltar</button>
  </div>
  <div class="marcas">
    <h1>Com quais marcas trabalhamos?</h1>
  </div>
</header>

<main class="main">
  <div class="img"> <img src="../../assets/marcas.png"></div>
  <div class="whos">
    <h2 class='somos'>Quem somos?</h2>
  </div>
  <div class="text">
    A nossa empresa de Automóveis é
    especializada em vendas de veículos semi-novos nacionais e importados.
    Todos os veículos à venda em nossa loja são revisados, com garantia e selo de procedência comprovada MundoCar Mais
    Shopping.
    Trabalhamos em parceria com as principais financeiras do país e financiamos com as melhores taxas de juros do
    mercado,
    visando sempre a satisfação e o melhor negócio para nossos clientes.

  </div>
</main>

<footer class="footer">

  <div class="redes">NOSSAS REDES</div>
  <div class="icons">
    <span class="facebook"><img src="../../assets/facebook.png"></span>
    <span class="twitter"><img src="../../assets/twitter.png"></span>
    <span class="youtube"><img src="../../assets/youtube.png"></span>
    <span class="instagram"><img src="../../assets/instagram.png"></span>
    <span class="tiktok"><img src="../../assets/tik-tok.png"></span>
  </div>

</footer>