<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

<header class="header">
  <span (click)="voltar()" class="material-icons">
    reply
  </span>
  FORNECEDORES</header>

<main class="main">
  <div *ngFor="let carro of listCar" class="carros">
    <div class="img">
      <img src="{{ carro.imagem }}" width="50px">
    </div>
    <div class="nome">Nome: {{ carro.nome }}
      <div>Email: {{ carro.email }}</div>
    </div>
    <div class="fone">Telefone: {{ carro.telefone }}</div>
  </div>
</main>
