<main class="main">  
  <div class="nome">
      <input type="text" placeholder="Nome">
  </div>
  <div class="placa">
    <input type="text" placeholder="Placa">
  </div>
  <div class="marca">
    <input type="text" placeholder='Marca'>
  </div>
  <div class="modelo">
    <input type="text" placeholder='Modelo'>
  </div>
  <div class="valor">
    <input type="number" placeholder='Valor'>
  </div>
  <div class="imagem">
    <input type="file" placeholder='Imagem'>
  </div>
  <div class="botao">
    <button (click)="cadastrar()">Cadastrar</button>
  </div>
</main>