<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<header class="container">
  <div class="navbar">
    <span class="material-icons">
      local_grocery_store
    </span>
    <span class="carrinho">CARRINHO</span>
  </div>
</header>

<main class="main">
  <div class="container-produto">
    <div class="nome">Nome<button class="continuar" (click)="voltar()">Continuar comprando</button> </div>
    <div class="quantidade">Quantidade:<button class="finalizar" (click)="finalizar()">Finalizar compra</button></div>
    <div class="valor">Valor: {{valor}}</div>
  </div>
</main>