*{
    margin: 0;
    padding: 0;
}

.fundo{
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
}


.login{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 20px;
    background-color: gray;
    border-radius: 25px;
}

.login input{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #00ff00;
}

.login input:hover{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #b0c4de;
    cursor: text;
}

.login button{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #32cd32;
}   

.login button:hover{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #b0c4de;
    cursor: pointer;
}