<div class="fundo">
  <div class="container">
      <div class="login">
          <input [(ngModel)]='nome' placeholder="Nome">
          <input [(ngModel)]='sobrenome' placeholder="Sobrenome">
          <input [(ngModel)]="senha" placeholder="Senha" type="password">
          <input [(ngModel)]="nascimento" placeholder="Nascimento" type="date">
          <input [(ngModel)]="email" placeholder="Email" type="email">
          <input [(ngModel)]="pais" placeholder="Pais" type="text">
          <input [(ngModel)]="estado" placeholder="Estado" type="text">
          <input [(ngModel)]="cidade" placeholder="Cidade" type="text">
          <input [(ngModel)]="cep" placeholder="CEP" type="text">
          <button class="button" (click)="cadastro()">Cadastrar-se</button>
      </div>
  </div>
</div>
