<body>
  <header class="container">
    <div class="voltar">
      <button class="botao" (click)="voltar()">Voltar</button>
    </div>
  </header>
  <main class="main">
    <div class="img">
      <img src="{{ imagem }}" width="70px" height="70px"/>
      <div class="nome">
        Nome: {{ nome }}
        <div class="valor">Valor: {{valor}}</div>
      </div>
      <div class="nome">Marca: {{marca}}
        <div class="valor">Modelo: {{modelo}} </div>
      </div>
      <div class="comprar">
        <button class="botao-comprar" (click)="comprar()">Comprar</button>
      </div>
    </div>
  </main>
</body>
