* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #C21010;
}

.campo-pesquisa {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    border-radius: 10px;
    background-color: #dcdcdc;
}

.campo-pesquisa input {
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.campo-pesquisa i {
    padding: 5px;
    color: #C21010;
    font-size: 20px;
}

.div-icones{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    color: #C21010;
}

.icone i {
    padding: 5px;
    color: #C21010;
    font-size: 20px;
}

.containercarro {
    width: 100%;
    height: 50vh;
    background-color: rgb(46, 181, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    padding: 5px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao button {
    padding: 5px;
    width: 65%;
    border: none;
    outline: none;
    background-color: aqua;
}

.botao:hover button {
    padding: 5px;
    width: 65%;
    border: none;
    outline: none;
    background-color: aqua;
    cursor: pointer;
}

/* .carro {
    width: 50%;
    height: 80%;
    border-radius: 35px;
    border: solid black 1px;
    border: none;
    background-color: white;
}

.carro2 {
    width: 50%;
    height: 80%;
    border: solid black 1px;
    border: none;
    border-radius: 35px;
    background-color: white;
}

.carro3 {
    width: 50%;
    height: 80%;
    border: solid black 1px;
    border: none;
    border-radius: 35px;
    background-color: white;
}

.carro4 {
    width: 50%;
    height: 80%;
    border: solid black 1px;
    border: none;
    border-radius: 35px;
    background-color: white;
} */