* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #C21010;
}

.campo-pesquisa {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    border-radius: 10px;
    background-color: #dcdcdc;
}

.campo-pesquisa input {
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.campo-pesquisa img {
    padding: 5px;
}

.containercarro {
    width: 100%;
    height: 50vh;
    background-color: rgb(46, 181, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carro {
    width: 50%;
    height: 50%;
    border-radius: 35px;
    border: solid black 1px;
    border: none;
    background-color: white;
}

.carro2 {
    width: 50%;
    height: 50%;
    border: solid black 1px;
    border: none;
    border-radius: 35px;
    background-color: white;
}

.carro3 {
    width: 50%;
    height: 50%;
    border: solid black 1px;
    border: none;
    border-radius: 35px;
    background-color: white;
}

.carro4 {
    width: 50%;
    height: 50%;
    border: solid black 1px;
    border: none;
    border-radius: 35px;
    background-color: white;
}


/* .botao {
  width: 100%;
  height: 100vh;
}

.volta button {
  width: 5%;
  height: 100%;
  background-color: #00ff00;
  background: linear-gradient(lightCyan, skyblue, deepskyblue);
  border: none;
} */


/* .volta button:hover{
  width: 5%;
  height: 25px;
  background-color: #00ff00;
  border: none;
  background: linear-gradient(360deg, lightgreen, green, #001e00);
  cursor: pointer;
} */
