<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<header>
  <div class="navbar">
    <div class="logo">
      <img src="./assets/logo.png" style="width: 100px" />
    </div>

    <div class="campo-pesquisa">
      <i class="fi fi-rr-search"></i>

      <input type="text" placeholder="Pesquisar" />
    </div>

    <div class="div-icones">
      <div class="icone">
        <i class="fi fi-rr-home" (click)="home()"></i>
      </div>
      <div *ngIf="!user" class="icone">
        <i class="fi fi-rr-user" (click)="logar()"></i>
      </div>

      <div class="icone">
        <i class="fi fi-rr-shopping-cart" (click)="carrinho()"></i>
      </div>

      <div class="icone">
        <i class="fi fi-rr-headset" (click)="suporte()"></i>
      </div>

      <div class="icone">
        <i class="fi fi-rr-car" (click)="fornecedor()"></i>
      </div>
      <div class="icone" *ngIf="user">
        <span class="material-icons" (click)="sair()">
          logout
        </span>
      </div>
      <div class="icone" *ngIf="funcionario">
        <span (click)="cadastrarCarro()" class="material-icons">
          add
        </span>
      </div>
      <div *ngIf="user" class="user">
        <div class="material-icons">
          account_circle
        </div>
        {{user}}
      </div>
    </div>
  </div>
</header>

<main>
  <div class="containercarro">
    <div *ngFor="let a of list; let i = index" class="carro" (click)="detalhes(i + 1)">
      <div>
        <img src={{a.imagem}} width="100%" height="100%">
      </div>
      <div class="marca">Marca: {{ a.marca }}</div>
      <div class="info">Nome: {{ a.nome }}</div>
      <div class="modelo">Modelo: {{ a.modelo }}</div>
      <div class="valor">Valor: R${{ a.valor }}</div>
      <button *ngIf="funcionario" (click)="editarCarro(i + 1)" class="editar">Editar</button>
    </div>
  </div>
</main>