* {
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 20vh;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #C21010;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.logo{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo-pesquisa {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    border-radius: 10px;
    background-color: #dcdcdc;
}

.campo-pesquisa input {
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.campo-pesquisa i {
    padding: 5px;
    color: #C21010;
    font-size: 20px;
}

.div-icones {
    width: 60%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    color: white;
}

.icone i {
    padding: 5px;
    font-size: 20px;
}

.icone i:hover {
    color: blueviolet;
    cursor: pointer;
}

.material-icons{
    color: white;
    cursor: pointer;
}

.material-icons:hover{
    color: blueviolet;
    cursor: pointer;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containercarro {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.carro {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin: 1%;
}

.info {
    display: grid;
    justify-content: center;
    align-items: center;
}

.marca{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelo{
    display: grid;
    justify-content: center;
    align-content: center;
}

.valor {
    display: flex;
    justify-content: center;
    align-content: center;
}

.editar{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #d6d6d6;
    padding: 10px;
}