<header>
    <div class="navbar">
        <div class="logo">
            <img src="./assets/logo.png" style="width: 100px;">
        </div>

        <div class="campo-pesquisa">
            <i class="fi fi-rr-search"></i>

            <input type="text" placeholder="Pesquisar">
        </div>

        <div class="div-icones">
            <div class="icone">
                <i class="fi fi-rr-home"></i>
            </div>

            <div class="icone">
                <i class="fi fi-rr-user" (click)='logar()'></i>
            </div>

            <div class="icone">
                <i class="fi fi-rr-shopping-cart" (click)="carrinho()"></i>
            </div>

            <div class="icone">
                <i class="fi fi-rr-headset"></i>
            </div>

            <div class="icone">
                <i class="fi fi-rr-menu-burger"></i>
            </div>
            <div>Logado: {{user}}</div>
        </div>
    </div>
</header>

<main>
    <div class="containercarro">
        <div class="carro">
            Carro 1
            <div class="botao">
                <button (click)="detalhes()">Detalhes</button>
            </div>
        </div>
        <div class="carro2">
            Carro 2
            <div class="botao">
                <button (click)="detalhes()">Detalhes</button>
            </div>
        </div>
    </div>
</main>

<footer>

</footer>